SqlPac.Library/Connected Services/Services/DacpacService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DacpacService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63119/DacpacService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63119/DacpacService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDacpacService_GetDacpac_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDacpac" />
  </wsdl:message>
  <wsdl:message name="IDacpacService_GetDacpac_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDacpacResponse" />
  </wsdl:message>
  <wsdl:message name="IDacpacService_SetDacpac_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDacpac" />
  </wsdl:message>
  <wsdl:message name="IDacpacService_SetDacpac_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDacpacResponse" />
  </wsdl:message>
  <wsdl:portType name="IDacpacService">
    <wsdl:operation name="GetDacpac">
      <wsdl:input wsaw:Action="http://tempuri.org/IDacpacService/GetDacpac" message="tns:IDacpacService_GetDacpac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDacpacService/GetDacpacResponse" message="tns:IDacpacService_GetDacpac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDacpac">
      <wsdl:input wsaw:Action="http://tempuri.org/IDacpacService/SetDacpac" message="tns:IDacpacService_SetDacpac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDacpacService/SetDacpacResponse" message="tns:IDacpacService_SetDacpac_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDacpacService" type="tns:IDacpacService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDacpac">
      <soap:operation soapAction="http://tempuri.org/IDacpacService/GetDacpac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDacpac">
      <soap:operation soapAction="http://tempuri.org/IDacpacService/SetDacpac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DacpacService">
    <wsdl:port name="BasicHttpBinding_IDacpacService" binding="tns:BasicHttpBinding_IDacpacService">
      <soap:address location="http://localhost:63119/DacpacService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>